altgraph==0.17.2
asgiref==3.5.0
auto-py-to-exe==2.17.0
Babel==2.9.1
beautifulsoup4==4.10.0
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
CacheControl==0.12.10
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.1
defusedxml==0.7.1
Django==4.0.5
django-colorfield==0.7.2
django-phonenumber-field==6.3.0
django-shopping-cart==0.1
django-widget-tweaks==1.4.12
Eel==0.12.4
fpdf==1.7.2
fpdf2==2.5.1
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
html5lib==1.1
idna==3.3
jsonpickle==0.9.6
lxml==4.8.0
macholib==1.15.2
messagemedia-messages-sdk==2.0.0
mock-open==1.4.0
msgpack==1.0.3
phonenumbers==8.12.52
Pillow==9.0.1
psycopg2-binary==2.9.3
pyasn1==0.4.8
pycparser==2.21
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.1
PyJWT==2.3.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PySide2==5.15.2.1
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
rsa==4.8
secure-smtplib==0.1.1
shiboken2==5.15.2.1
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
tkcalendar==1.6.1
twilio==7.8.0
urllib3==1.26.9
webencodings==0.5.1
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
